h2 {
    color: red;
    text-align: center;
}

h3 {
    color: blue;
}

.l1 {
    border: 1px dashed green;
}

.l2 {
    border: 2px solid purple;
}

#l3 {
    border: 1px dotted black;
}

p {
    font-size: 16px;
}

span {
    color: orange;
}

div {
    background-color: #f0f0f0;
    padding: 10px;
}

time {
    color: brown;
}

img {
    width: 150px;
    border: 1px solid black;
}

a {
    color: green;
    text-decoration: none;
}


