body {
    background-color: rgb(138,134,93);
     }
*{
    text-align: center;
 }

h2 {
    color: purple;
    font-style: italic;
    text-shadow: 2px 2px grey;
    text-decoration: dotted;
}

h3 {
    color: maroon;
    text-decoration: underline;
}

.l1 {
    border-top: 1px dashed purple;
}

.l2 {
    border: 1px solid maroon;
    border-radius: 2px;
}

#l3 {
    border-top: 3px double black;
}

p {
    color: rgb(1, 43, 13);
    border-color: white;
    font-family: Arial;
    font-weight: bold;
}

div {
    background-color: rgb(240, 230, 140);
    text-decoration: underline;
    margin: auto;
    padding: 5px;
    border: 2px solid rgb(126,128,93);
    color: black;
    width: 30%;
}

span {
    color: dark blue;
    font-family: 'Gill Sans';
}

img {
    height: 150px;
    width: 200px;
    border-radius: 10px;
    border-style: ridge;
}

a {                                         
    color: rgb(250,250,250);
    cursor: pointer;
    font-family: cursive;
}

a:hover {
    color: khaki;
}

